<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresDefault "access plus 120 seconds"
    <IfModule mod_headers.c>
        Header append Cache-Control "public"
    </IfModule>
</IfModule>

DirectoryIndex none
Options -MultiViews -Indexes

RewriteEngine on

# Trailing Slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

# Seo
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^filho-de-residente-permanente-dos-eua$ /ebook-filho-de-residente-permanente-dos-estados-unidos/v1/index.html [L]