<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresDefault "access plus 120 seconds"
    <IfModule mod_headers.c>
        Header append Cache-Control "public"
    </IfModule>
</IfModule>

DirectoryIndex index.html
Options -MultiViews

RewriteEngine on

# Trailing Slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*[^/])$ /$1/ [L,R]