header {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(/ebook-filho-de-residente-permanente-dos-estados-unidos/v1/img/liberty-state.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header div.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 20px;
  width: 100%;
  max-width: 1366px;
  box-sizing: border-box;
}
header div.wrapper div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  width: 50%;
}
header div.wrapper div.container h1, header div.wrapper div.container h2 {
  display: inline-block;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  color: #484848;
}
header div.wrapper div.container h1 b, header div.wrapper div.container h2 b {
  color: #d71821;
}
header div.wrapper div.container h1 {
  font-weight: 700;
  font-size: 48px;
}
header div.wrapper div.container h2 {
  font-weight: 400;
  font-size: 26px;
}
header div.wrapper div.container div.ctas {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
  width: 100%;
}
header div.wrapper div.container div.ctas a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #d71821;
  box-shadow: 0px 0px 10px rgba(215, 24, 33, 0.2509803922);
  width: fit-content;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
}
header div.wrapper div.container div.ctas a.outline {
  background-color: transparent;
  color: #d71821;
  border-color: #d71821;
  font-weight: 500;
}
header div.wrapper div.container div.ctas a i {
  color: inherit;
  font-size: 27px;
  line-height: 27px;
}

@media screen and (max-width: 1080px) {
  header {
    background-image: none;
  }
  header div.wrapper div.container {
    width: 100%;
  }
  header div.wrapper div.container div.ctas {
    flex-direction: column-reverse;
  }
  header div.wrapper div.container div.ctas a {
    width: 100%;
  }
}
section {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.price {
  background-image: url(/ebook-filho-de-residente-permanente-dos-estados-unidos/v1/img/liberty-state-transparent.webp);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position-x: 100%;
  background-position-y: 100%;
}
section:nth-child(2n) {
  background-color: #d71821;
}
section:nth-child(2n) div.wrapper div.container h3, section:nth-child(2n) div.wrapper div.container article, section:nth-child(2n) div.wrapper div.container span.price {
  color: #fff;
}
section:nth-child(2n) div.wrapper div.container div.ctas a {
  color: #d71821;
  background-color: #fff;
}
section:nth-child(2n-1) {
  background-color: #fff;
}
section:nth-child(2n-1) div.wrapper div.container h3 {
  color: #d71821;
}
section:nth-child(2n-1) div.wrapper div.container article {
  color: #484848;
}
section:nth-child(2n-1) div.wrapper div.container article b {
  color: #d71821;
}
section:nth-child(2n-1) div.wrapper div.container span.price {
  color: #484848;
}
section:nth-child(2n-1) div.wrapper div.container div.ctas a {
  background-color: #d71821;
  color: #fff;
}
section div.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1366px;
  box-sizing: border-box;
}
section div.wrapper div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 50%;
}
section div.wrapper div.container h3 {
  width: 100%;
  text-align: left;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin: 0px;
}
section div.wrapper div.container article {
  width: 100%;
  text-align: left;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
section div.wrapper div.container article.text-center {
  text-align: center;
}
section div.wrapper div.container div.ctas {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
  width: 100%;
}
section div.wrapper div.container div.ctas a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  white-space: nowrap;
  font-weight: 700;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0px 0px 10px rgba(72, 72, 72, 0.2509803922);
  text-align: center;
  box-sizing: border-box;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
}
section div.wrapper div.container div.ctas a.outline {
  background-color: transparent;
  color: #d71821;
  border-color: #d71821;
  font-weight: 500;
}
section div.wrapper div.container div.ctas a i {
  color: inherit;
  font-size: 27px;
  line-height: 27px;
}
section div.wrapper div.container img {
  display: block;
  width: 70%;
}
section div.wrapper div.container span.price {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
section div.wrapper div.container span.price b {
  font-size: 102px;
  font-weight: 700;
}

@media screen and (max-width: 1080px) {
  section.price {
    background-size: 60%;
  }
  section div.wrapper {
    flex-direction: column;
  }
  section div.wrapper div.container {
    width: 100%;
    align-items: start;
  }
  section div.wrapper div.container div.ctas {
    flex-direction: column-reverse;
  }
  section div.wrapper div.container div.ctas a {
    width: 100%;
  }
  section div.wrapper div.container img {
    display: block;
    width: 100%;
    max-width: 420px;
  }
  section div.wrapper div.container img.green-card-one {
    margin-left: -4%;
  }
  section div.wrapper div.container span.price b {
    font-size: 66px;
  }
}
body {
  margin: 0px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1080px) {
  .desktop {
    display: none !important;
  }
}
@media screen and (min-width: 1081px) {
  .mobile {
    display: none !important;
  }
}

/*# sourceMappingURL=index.css.map */
