// Sizes
$mobile-when-width-is: 720px;
$stop-resize-when-max-width-is: 480px;

// Fonts
$primary-font-family: 'MontSerrat', sans-serif;

// Colors
$primary-accent-color: #43be2f;
$primary-contrast-color: #ffffff;
$primary-dark-color: #427d17;

$secondary-accent-color: #f6c115;
$secondary-contrast-color: #ffffff;